{% extends 'StemsPageBundle:Layout:' ~ page.layout.slug ~ '.html.twig' %}

{% import 'StemsCoreBundle:Macro:core.html.twig' as macros %}

{% block dynamic %}
	<div class="MoodBoard-controls">
		{# <p></p> #}
		<br class="clear">
	</div>
	<div class="MoodBoard-feed" id="packery-loader">
		{% for post in posts %}
			{% embed 'ThreadAndMirrorMoodBoardBundle:Embed:post.html.twig' %}{% endembed %}
		{% endfor %}
		<br class="clear">
	</div>
	{% if posts|length == 30 %}
		<div class="rest-load-more" data-offset="30" data-url="/rest/MoodBoard/get-more-favourite-posts/"></div>
	{% endif %}
{% endblock %}