<div class="social-circle-widget">
	<h4 class="social-circle-widget__title">
        <a class="social-circle-widget__title-link" href="/social/all">What's New in the Social Circle...</a>
    </h4>
	<div class="social-circle-widget__item-wrap">
		{% for post in posts %}
            <figure class="social-circle-widget__item social-circle-widget__item--{{ post.source }}" style="background:url('{{ post.image }}') center center;background-size: cover">
                <p class="social-circle-widget__item-text {% if post.image is not empty %}social-circle-widget__item-text--image{% else %}social-circle-widget__item-text--tweet{%  endif %}">{{ post.caption|raw }}</p>
                <a class="social-circle-widget__item-link" href="{{ post.url }}" rel="nofollow" target="_blank"></a>
            </figure>
		{% endfor %}
		<br class="clear">
	</div>
</div>