<div class="tool">
	<a title="Gallery Layout" >
        <i class="fa fa-th"></i>
    </a>
	<ul>
		<li><a class="gallery-layout" data-id="{{ link.id }}">Carousel</a></li>
		<li><a class="gallery-layout" data-id="{{ link.id }}">Feature</a></li>
        <li><a class="gallery-layout" data-id="{{ link.id }}">Radial</a></li>
        <li><a class="gallery-layout" data-id="{{ link.id }}">Collection</a></li>
	</ul>
</div>