<div class="widget widget-editors-picks">
	<div>
		<div class="background" style="background:url('{{ getMediaImage(collection.image).src|imagine_filter('blog_homepage_main') }}') center center; background-size:cover;"></div>
		<div class="feature-article wrap" >
			<a href="{{ path('thread_editorspicks_front_collection', { 'slug' : collection.slug }) }}">
				<div class="title">
					<p>Editor's Picks</p>
					<h2>{{ collection.header }}</h2>
					<h4><span></span><i class="fa fa-fw fa-heart"></i><span></span></h4>
					<button class="button-invert">Read More</button>
				</div>
			</a>
			<div class="image" style="background:url('{{ getMediaImage(collection.image).src|imagine_filter('blog_homepage_circle') }}') center center; background-size:cover;"></div>
			<div class="picks">
				{% include 'ThreadAndMirrorEditorsPicksBundle:Include:' ~ collection.layout ~ '.html.twig' with { collection : collection } %}
			</div>
		</div>
	</div>
</div>