<div class="widget widget-editors-pick">
	<h5><span>Editor's Pick</span></h5>
	<a href="{{ pick.url }}" style="background: url('{{ pick.image }}') center center; background-size:contain;">
		<h2>{{ pick.designer }}<span>{{ pick.name }}</span></h2>
	</a>
</div>