<div class="icon"><div class="inset"><i class="fa fa-share-alt"></i></div></div>
<div class="options">
	<h2>MoodBoard</h2>
	<a href="/admin/MoodBoard/instagram"><i class="fa fa-instagram"></i> Instagram Feeds</a>
	<a href="/admin/MoodBoard/twitter"><i class="fa fa-twitter"></i> Twitter Feed</a>
</div>