{% extends 'StemsPageBundle:Layout:' ~ page.layout.slug ~ '.html.twig' %}

{% import 'StemsCoreBundle:Macro:core.html.twig' as macros %}

{% block dynamic %}
	{% include 'ThreadAndMirrorProductsBundle:Include:filters.html.twig' with { filters:filters } %}
	<hr class="splitter">
	<div class="pagination">
		{{ macros.pagination(products.currentPage, products.maxPages, products.maxPerPage) }}
	</div>
	{% embed 'ThreadAndMirrorProductsBundle:Embed:products.html.twig' %}{% endembed %}
{% endblock %}