{% extends 'StemsPageBundle:Layout:' ~ page.layout.slug ~ '.html.twig' %}

{% import 'StemsCoreBundle:Macro:core.html.twig' as macros %}

{% block dynamic %}
	<div class="stores-grid">
		{% for store in stores %}
			{% embed 'ThreadAndMirrorProductsBundle:Embed:storeItem.html.twig' %}{% endembed %}
		{% endfor %}
		<br class="clear">
	</div>
{% endblock %}