<div class="brand-item">
	<a href="{{ path('thread_products_front_brands_products', { 'area' : area, 'slug' : brand.slug }) }}">
		{# <div class="logo" style="background-image:url('{{ store.logo }}')"></div> #}
		<h3 class="name">{{ brand.name }}</h3>
	</a>
</div>