<div class="store-item">
	<a href="{{ path('thread_products_front_stores_products', { 'area' : area, 'slug' : store.slug }) }}">
		<div class="logo" style="background-image:url('{{ store.logo }}')"></div>
		<h3 class="name">{{ store.name }}</h3>
	</a>
</div>