<div class="follow-us-widget">
    <p class="follow-us-widget__label">Follow us</p>
    <div class="follow-us-widget__icon-wrapper">
        <a class="follow-us-widget__icon" href="http://www.pinterest.com/threadandmirror" rel="nofollow" target="_blank" ><i class="fa fa-fw fa-pinterest"></i></a>
        <a class="follow-us-widget__icon" href="http://instagram.com/threadandmirror" rel="nofollow" target="_blank" ><i class="fa fa-fw fa-instagram"></i></a>
        <a class="follow-us-widget__icon" href="http://www.twitter.com/threadandmirror" rel="nofollow" target="_blank" ><i class="fa fa-fw fa-twitter"></i></a>
        <a class="follow-us-widget__icon" href="http://www.facebook.com/threadandmirror" rel="nofollow" target="_blank" ><i class="fa fa-fw fa-facebook"></i></a>
        <br class="clear">
    </div>
</div>