.follow-us-widget {
    padding: 80px 0 80px;
}

.follow-us-widget__label {
    top: 175px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 13px;
    opacity: .5;
}

.follow-us-widget__icon-wrapper {
    width: 100%;
    text-align: center;
}

.follow-us-widget__icon {
    height: 64px;
    width: 64px;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}

.follow-us-widget__icon i {
    font-size: 40px;
    line-height: 100% !important;
    display: block;
    width: 40px;
    margin: 12px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.follow-us-widget__icon i:hover {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

@media only screen and (max-width : 960px) {

    .follow-us-widget__label {
        font-size: 3vw;
    }

    .follow-us-widget__icon {
        height: 11vw;
        width: 11vw;
    }

    .follow-us-widget__icon i {
        font-size: 7vw;
        width: 7vw;
        margin: 2vw;
    }
}