
.magazine-layout-inset {
    background: #dddddd; /* Old browsers */
    background: -moz-linear-gradient(left,  #dddddd 0%, #ffffff 40%,#ffffff 60%, #dddddd 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #dddddd 0%,#ffffff 40%,#ffffff 60%, #dddddd 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #dddddd 0%,#ffffff 40%,#ffffff 60%, #dddddd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#dddddd',GradientType=1 ); /* IE6-9 */
}

.magazine-layout-inset__header-wrapper {
    overflow: hidden;
    height: 380px;
    background-color: black;
    position: relative;
    z-index: 1;
    margin: 0 auto;
}

.magazine-layout-inset__body-wrapper {
    border: 15px solid rgba(255,255,255,0.4);
    border-top: none;
    padding: 0;
    width: 990px;
    margin-bottom: 30px;
}

.magazine-layout-inset__banner {
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
    opacity: 0.5;
    left:-15px;
    right:-15px;
    top:-15px;
    bottom:-15px;
    position: absolute;
    z-index: 1;
}

.magazine-layout-inset__header-inset {
    margin: 125px auto 0;
    padding: 50px 0 0;
    width: 990px;
    position: relative;
    height: 255px;
    background: #fff;
    z-index: 2;
    border: 15px solid rgba(255,255,255,0.4);
    border-bottom: none;
    background-clip: padding-box;
}

.magazine-layout-inset__title {
    font-size: 48px;
    line-height: 100%;
    font-weight: 400;
    letter-spacing: -2px;
    margin: 15px 0 10px;
    border: none;
    padding: 0;
    font-family: 'Linotype Didot W01',serif;
}

.magazine-layout-inset__subtitle {
    display: block;
    font-size: 20px;
    line-height: 100%;
    font-weight: 200;
    margin-top: 5px;
    letter-spacing: -1px;
    font-style: italic;
}

.magazine-layout-inset__hr {
    margin: 0 100px 20px 101px;
    border: 0;
    border-top: 1px dotted #DDDDDD;
}

.magazine-layout-inset__caption {
    margin: 0 115px;
    text-align: center;
}

.magazine-layout-inset__social {
    position: absolute;
    right: 15px;
    top: 15px;
}

.magazine-layout-inset__social a {
    color: #BBBBBB;
    float: right;
    font-size: 16px;
    line-height: 125%;
    width: 20px;
    height: 20px;
    text-align: center;
    z-index: 3;
    border: none;
    margin: 0 0 0 2px;
    font-weight: 400;
    letter-spacing: -1px;

}

.magazine-layout-inset__social a:hover {
    color: black;
}

.magazine-layout-inset__date {
    color: #999;
    margin: 0;
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 12px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.magazine-layout-inset__accreditation {
    position: absolute;
    top: -20px;
    right: 0;
    color: #FFF;
    opacity: 0.5;
    font-size: 10px;
}

.magazine-layout-inset__thumbnail {
    border: 3px solid #FFFFFF;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    height: 100px;
    width: 100px;
}

.magazine-layout-inset__article-wrapper {
    background: white;
    position: relative;
}

@media (max-width : 960px) {

    .magazine-layout-inset__article p {
        font-size: 4vw;
        line-height: 150%;
        margin: 0;
    }

    .magazine-layout-inset {
        background: white;
    }

    .magazine-layout-inset__header-wrapper {
        height: auto;
        width: 100%;
    }

    .magazine-layout-inset__body-wrapper {
        border: 0;
        width: 100%;
    }

    .magazine-layout-inset__header-inset {
        margin: 40vw auto 0;
        padding: 22vw 0 17vw;
        height: auto;
        width: 100%;
        border: 0;
        border-top: 5vw solid rgba(255,255,255,0.4);
    }

    .magazine-layout-inset__article {
        border: none;
        padding: 0;
        margin: 0;
    }

    .magazine-layout-inset__hr {
        margin: 6vw 20vw;
    }

    .magazine-layout-inset__thumbnail {
        border: 0.5vw solid #fff;
        margin-left: -20vw;
        margin-top: -20vw;
        height: 40vw;
        width: 40vw;
    }

    .magazine-layout-inset__article-wrapper {
        height: auto !important;
        padding: 5vw;
    }

    .magazine-layout-inset__date {
        top: 0;
        left: 0;
        position: relative;
        letter-spacing: 1vw;
        font-size: 3vw;
    }

    .magazine-layout-inset__title {
        font-size: 11vw;
        letter-spacing: -0.5vw;
    }

    .magazine-layout-inset__subtitle {
        font-size: 5vw;
        line-height: 100%;
        font-weight: 200;
        margin-top: 5vw;
        letter-spacing: -0.1vw;
    }

    .magazine-layout-inset__caption {
        margin: 0 5vw;
        font-size: 3.5vw;
        line-height: 130%;
    }

    .magazine-layout-inset__social {
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 8vw;
    }

    .magazine-layout-inset__social a {
        font-size: 5vw;
        line-height: 100%;
        padding: 0 0.5vw;
        float: none;
    }

    .comments {
        display: none;
    }
}