.magazine-next-prev-widget {
    padding-bottom: 30px;
}

.magazine-next-prev-widget__article {
    padding: 0;
    color: white;
    position: relative;
}

.magazine-next-prev-widget__background {
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
    opacity: .7;
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
}

.magazine-next-prev-widget__link {
    display: block;
    color: white;
    position: relative;
    margin: 0 15px;
    overflow: hidden;
    background: #000000;
}

.magazine-next-prev-widget__link:hover {
    color: white;
}

.magazine-next-prev-widget__title {
    font-size: 32px;
    letter-spacing: -1.5px;
}

.magazine-next-prev-widget__title-block {
    height: 240px;
    display: table;
    width: 100%;
    position: relative;
}

.magazine-next-prev-widget__title-align {
    display: table-cell;
    vertical-align: middle;
}

.magazine-next-prev-widget__subtitle {
    font-size: 16px;
    line-height: 120%;
    margin-top: 8px;
}

.magazine-next-prev-widget__excerpt {
    margin: 15px 15px 0;
    font-size: 13px;
    line-height: 150%;
    font-weight: 400;
}

.magazine-next-prev-widget__image {
    height: 210px;
    border-radius: 50%;
    margin: 15px 0;
}

@media only screen and (max-width : 960px) {

    .magazine-next-prev-widget {
        background: #eee;
        padding-bottom: 0;
    }

    .magazine-next-prev-widget__article {
        margin: 0;
    }

    .magazine-next-prev-widget__title-block {
        padding: 10vw;
        height: 100vw;
        width: 100vw;
    }

    .magazine-next-prev-widget__image {
        height: 40vw;
        width: 40vw;
        border-radius: 100%;
        margin: 4vw auto;
    }

    .magazine-next-prev-widget__excerpt {
        margin: 5vw 0 0;
        font-size: 4vw;
        line-height: 130%;
        height: auto;
        padding: 5vw 0;
    }

    .magazine-next-prev-widget__link {
        margin: 0;
    }

    .magazine-next-prev-widget__link--invert {
        background: white;
        color: black;
    }

    .magazine-next-prev-widget__link--invert:hover {
        color: black;
    }

    .magazine-next-prev-widget__read-more--invert {
        border-color: white;
    }

    .magazine-next-prev-widget__subtitle, .magazine-next-prev-widget__subtitle {
        font-size: 5vw;
    }

    .magazine-next-prev-widget__subtitle {
        margin-top: 2vw;
        font-size: 5vw;
    }

    .magazine-next-prev-widget__title {
        font-size: 9vw;
        letter-spacing: -0.4vw;
    }
}