
.section-image__container {
    position: relative;
}

.section-image__caption {
    font-weight: 200;
    text-align: center;
    font-size: 13px;
}

.section-image__caption--squared, .section-image__caption--portrait {
    width: 100%;
    color: white;
    font-weight: 600;
    padding: 30px 15px 15px;
    margin: 0;
    position: absolute;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */
}

.section-image__image--squared, .section-image__image--portrait {
    object-fit: cover;
}

.section-image__image--squared--col-2 {
    height: 450px;
    width: 450px;
}

.section-image__image--squared--col-1 {
    height: 210px;
    width: 210px;
}

.section-image__image--portrait--col-2 {
    height: 960px;
    width: 450px;
}

.section-image__image--portrait--col-1 {
    height: 450px;
    width: 210px;
}

@media (max-width : 960px) {

    .section-image__image--squared--col-2 {
        height: 80vw;
        width: 80vw;
    }

    .section-image__image--squared--col-1 {
        height: 40vw;
        width: 40vw;
    }

    .section-image__image--portrait--col-2 {
        height: 160vw;
        width: 80vw;
    }

    .section-image__image--portrait--col-1 {
        height: 80vw;
        width: 40vw;
    }

    .section-image__caption--squared, .section-image__caption--portrait {
        padding: 5vw 0 0;
        font-size: 3vw;
        line-height: 150%;
    }
}