.section-product * {
    box-sizing: border-box;
}

.section-product__wrapper--squared--col-1 {
    width: 180px;
    height: 180px;
}

.section-product__wrapper--squared--col-2 {
    width: 420px;
    height: 420px;
}

.section-product__link {
    height: 100%;
    display: block;
    width: 100%;
    position: relative;
    text-align: center;
}

.section-product__link:hover {
    color: black;
}

.section-product__buy-icon {
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin-left: -19px;
    margin-bottom: -27px;
    font-size: 18px;
    z-index:2;
    display: none;
}

.section-product__buy-icon--col-2 {
    margin-left: -24px;
    margin-bottom: -34px;
    font-size: 22px;
}

.section-product__buy-icon .fa-shopping-bag {
    font-size: 14px;
    line-height: 19px !important;
}

.section-product__buy-icon--col-2 .fa-shopping-bag {
    font-size: 18px;
}

.section-product__name {
    position: absolute;
    width: 100%;
    z-index:2;
    bottom: 50%;
    text-align: center;
    margin: 0 0 30px;
    letter-spacing: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    display: none;
}

.section-product__name--col-2 {
    font-size: 16px;
    margin: 0 0 40px;
}

.section-product__brand {
    display: block;
    font-weight: 600;
}

.section-product__description {
    position: absolute;
    width: 100%;
    top: 50%;
    margin: 30px 0 0;
    line-height: 22px;
    height: 22px;
    font-size: 10px;
    font-weight: 400;
    background: 0;
    color: #777;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: none;
    z-index:2;
}

.section-product__description--col-2 {
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 4px;
    margin: 40px 0 0;
}

.section-product__image--squared {
    max-width: 100% !important;
    max-height: 100% !important;
}

.section-product:hover .section-product__description, .section-product:hover .section-product__name, .section-product:hover .section-product__buy-icon {
    display: block;
}

.section-product:hover .section-product__image {
    opacity: 0.1;
    z-index: 1;
    position: relative;
}

@media only screen and (max-width : 960px) {

    .section-product__wrapper--squared--col-1, .section-product__wrapper--squared--col-2, .section-product__wrapper--squared--col-3, .section-product__wrapper--squared--col-4 {
        height: 0;
        width: 100%;
        position: relative;
        padding-bottom: 100%;
    }

    .section-product__link--squared--col-1, .section-product__link--squared--col-2, .section-product__link--squared--col-3, .section-product__link--squared--col-4 {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .section-product__name {
        font-size: 3vw;
        margin: 0 0 7vw;
    }

    .section-product__description {
        margin: 8vw 0 0 !important;
        font-size: 2vw !important;
        letter-spacing: 0.8vw !important;
    }

    .section-product__buy-icon {
        margin-left: -4.2vw;
        margin-bottom: -6vw;
        font-size: 4vw;
    }

    .section-product__name--col-2, .section-product__name--col-3, .section-product__name--col-4 {
        font-size: 4vw;
        margin: 0 0 10vw;
    }

    .section-product__description--col-2, .section-product__description--col-3, .section-product__description--col-4 {
        font-size: 3vw !important;
        letter-spacing: 1vw !important;
        margin: 10vw 0 0 !important;
    }

    .section-product__buy-icon--col-2, .section-product__buy-icon--col-3, .section-product__buy-icon--col-4 {
        margin-left: -5.5vw;
        margin-bottom: -7vw;
        font-size: 5vw;
    }
}