.section-product-gallery {
    text-align: center;
    position: relative;
    padding: 20px 0;
    z-index: 1;
}

.section-product-gallery__wrapper--col-1, .section-product-gallery__wrapper--col-2, .section-product-gallery__wrapper--col-3, .section-product-gallery__wrapper--col-4 {
    height: 450px;
}

.section-product-gallery > h2,
.section-product-gallery > p {
    text-align: center !important;
    border: none;
    padding: 0;
    margin-bottom: 10px;
}

.section-product-gallery > h2 {
    font-family: 'Linotype Didot W01', serif;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -1px;
    font-weight: 400;
}

.section-product-gallery > p {
    letter-spacing: -0px;
    font-weight: 200;
    padding: 0 100px;
}


.section-product-gallery-feature__feature-image {
    height: 400px;
    width: 635px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    z-index: 5;
}

.section-product-gallery-feature__product {
    text-align: center;
    position: relative;
}

.section-product-gallery-feature__product-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.section-product-gallery-feature__next, .section-product-gallery-feature__prev {
    font-size: 72px !important;
    color: black;
    border: none;
    position: absolute;
    background: none;
    z-index: 10;
    top: 234px;
    width: 48px;
    height: 72px;
}

.section-product-gallery-feature__next:hover, .section-product-gallery-feature__prev:hover {
    background: none;
}

.section-product-gallery-feature__next > i, .section-product-gallery-feature__prev > i {
    font-size: 72px !important;
    color: #000000;
}

.section-product-gallery-feature__next--col-4 > i, .section-product-gallery-feature__prev--col-4 > i {
    font-size: 122px !important;
}

.section-product-gallery-feature__next:hover > i, .section-product-gallery-feature__prev:hover > i {
    color: #555555;
}

.section-product-gallery-feature__prev {
    left:80px;
}

.section-product-gallery-feature__next {
    right:80px;
}

.section-product-gallery-feature__caption {
    position: absolute;
    bottom:0px;
    left:20px;
    padding:10px;
    width: 595px;
    background: rgba(255,255,255,0.8);
}

.section-product-gallery-feature__caption-subheading,
.section-product-gallery-feature__caption-heading {
    color: #000000;
}

.section-product-gallery-feature__caption-heading {
    margin-bottom: 5px;
    font-size: 16px;
}

.section-product-gallery-feature__caption-subheading {
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
}

.section-product-gallery-feature__thumbnail-images {
    text-align: center;
    width: 100%;
}

.section-product-gallery-feature__thumbnail-product {
    height:75px;
    width:75px;
    display: inline-block;
    margin: 0 5px;
    overflow: hidden;
    cursor: pointer;
}

.section-product-gallery-feature__thumbnail-product-image {
    height: 75px;
}

@media (max-width : 960px) {

    .section-product-gallery-feature__feature-image {
        width: 100%;
        height: 100vw;
    }

    .section-product-gallery-feature__product-image {
        height:80%;
    }

    .section-product-gallery-feature__prev, .section-product-gallery-feature__next {
        background: none;
        width: auto;
        height: auto;
    }

    .section-product-gallery-feature__next > i, .section-product-gallery-feature__prev > i {
        font-size: 30vw !important;
    }

    .section-product-gallery-feature__prev {
        left:0;
    }

    .section-product-gallery-feature__next {
        right:0;
    }

    .section-product-gallery-feature__caption {
        width: 100%;
        bottom: 0;
        padding: 3vw 0;
        left: 0;
        position: relative;
    }

    .section-product-gallery-feature__caption-heading {
        margin-bottom: 2vw;
        font-size: 4.4vw;
    }

    .section-product-gallery-feature__caption-subheading {
        font-size: 3.5vw;
    }

    .section-product-gallery-feature__thumbnail-images {
        display: none;
    }
}