.section {
    margin: 0;
    padding: 14px;
    border: 1px dashed white;
    background: white;
    position: absolute;
    box-sizing: border-box;
}

.section__col-1,
.section__col-1 .squared {
    width: 210px;
}

.section__col-2,
.section__col-2 .squared {
    width: 480px;
}

.section__col-3 {
    width: 670px;
}

.section__col-4 {
    width: 960px;
}

.section__col-2 .squared {
    height: 420px;
    text-align: center;
}

.section__col-1 .squared {
    height: 210px;
    text-align: center;
}

.section--text-align-right {
    text-align: right;
}

.section--text-align-left {
    text-align: left;
}

.section--text-align-center {
    text-align: center;
}
@media (max-width : 960px) {

    .section {
        position: relative;
        top: 0 !important;
        left: 0 !important;
        margin: 0 0 5vw;
        padding: 0;
        float: left;
    }

    .section__col-1 {
        width: 50%;
    }

    .section__col-2, .section__col-3, .section__col-4 {
        width: 100%;
    }
}