
.section-image__container {
    position: relative;
}

.section-image__caption {
    font-weight: 200;
    text-align: center;
    font-size: 13px;
}

.section-image__caption--squared {
    width: 100%;
    color: black;
    font-weight: 600;
    padding: 15px;
    margin: 0;
}

.section-image__image--squared {
    object-fit: cover;
}

.section-image__image--squared--col-2 {
    height: 470px;
    width: 470px;
}

@media (max-width : 960px) {

    .section-image__image--squared--col-2 {
        height: 80vw;
        width: 80vw;
    }

    .section-image__caption--squared {
        padding: 5vw 0 0;
        font-size: 3vw;
        line-height: 150%;
    }
}