
/*

font-family:'Linotype Didot W01';
font-family:'Didot W01 Italic';
font-family:'Didot W01 Bold';
font-family:'Didot W01 Headline';
font-family:'Didot Open Face W01';
font-family:'Helvetica W01';
font-family:'Linotype Didot W01';
font-family:'Linotype Didot W01 Headline';
font-family:'Futura PT Multilingual W01';

*/
/********* GENERAL STYLES *********/
body, img, p, h1, h2, h3, h4, h5, h6, div, span, form, hr {
	margin:0px;
	padding:0px;
	border-width:0px;
	outline-width:0px;
 	
}

ul, li {
	padding: 0;
	margin: 0;
}

body {
	position: relative;
	color: black;
    background: black;
	font-family:'Avenir Next W01', sans-serif;
	-webkit-font-smoothing: antialiased !important;
	font-size: 14px;
    line-height: 20px;
	overflow-x: hidden;
}

p {
    margin: 0 0 15px;
}

i {
	line-height: 22px !important;
	font-size: 17px;
}

a {
	text-decoration:none;
	color:#000;
    font-weight: 600;
}

a:hover {
	text-decoration:none;
	color:#777;
}

.right {
	float:right;
}

.left {
	float:left;
}

.clear {
	clear:both;	
	height:0px;
	line-height:0px;
}

.hidden {
	display:none;
}

.wrap {
	width:960px;
	margin:0px auto;
	display: block
}

.button,
button,
input[type=submit] {
	display: block;
    line-height: 31px;
    height: 32px;
    font-size: 12px;
	color: black;
	background: none;
	border: 1px solid black;
	padding: 0 10px;
	border-radius: 4px;
	margin: 0;
	letter-spacing: 2px;
	text-align: center;
	font-weight: 600;
	cursor: pointer;
	text-transform: uppercase;
}

.button:hover ,
button:hover ,
input[type=submit]:hover {
	background: rgba(0,0,0, 0.1);
}

.button-invert {
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
}

.button-invert:hover {
	background: rgba(255,255,255, 0.1);
}

#mti_wfs_colophon {
	visibility: hidden;
}


/* --- SLIDER --- */

#slider {
	position: relative;
	width: 960px;
	height: 300px;
	margin: 20px auto 30px auto;
	overflow: hidden;
	z-index: 1;
}

#slider .slide {
	height: 300px;
	width: 100%;
	position: absolute;
}

#slider .slide .background {
	width: 960px;
	height: 300px;
	position: absolute; top: 0px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#slider .slide .container {
	height: 300px;
	width: 960px;
	margin: 0 auto;
	position: relative;
}

#slider .slide .container h2 {
	color: #F0F0F0;
	position: absolute; top:50px; left: 10px;
	font-family: 'Linotype Didot W01', serif;
	font-size: 48px;
	z-index: 3;
	background: rgba(0,0,0,0.75);
	padding: 0 10px;
	font-weight: 400;
	letter-spacing: -3px;
}

/* --- PAGINATION --- */

.pagination {
	height: 45px;
	text-align: center;
}

.pagination:last-child {
	padding:10px 0 10px 0;
}

div+.pagination {
	padding: 10px 0 0 0;
}

.pagination > ul {
	list-style: none;
	width: auto;
	display: inline-block;
	margin: 0 auto;
	padding: 10px 0 0 0 !important;
}

.pagination > ul > li {
	float:left;
	height: 20px;
}

.pagination a {
    display: block;
    line-height: 25px;
    height: 24px;
    font-size: 14px;
    width: 24px;
    margin: 0 1px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 15px;
}

.pagination a.active {
    border: 1px solid #000;
}

.pagination a.inactive {
    color: rgba(0,0,0,0.20);
}

.pagination i {
	line-height: 24px !important;
	font-size: 18px !important;
}

/* --- GENERIC CONTENT --- */

.cms-page {
	margin-top: 50px;
	padding: 0;
	min-height: 500px;
	background: #FFFFFF;
}

.cms-page .wrap {
	width: 960px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
}

.cms-page p.breadcrumb {
	display: none;
	font-size: 10px;
	font-weight: 400;
	padding: 10px 10px 0 10px;
	color:#909090;
}

.cms-page p.breadcrumb > a {
	color:#909090;
}

.cms-page p.breadcrumb > a:hover {
	color: #be8c57;
}

.cms-page h1 {
	padding: 10px 10px 5px 10px;
	font-family: 'Linotype Didot W01', serif;
	font-size: 44px;
    line-height: 54px;
	color:black;
	border-bottom: 1px dotted #DDDDDD;
	text-align: center;
	font-weight: 400;
	letter-spacing: -2px;
	margin: 0;
}


/* --- FORMS --- */

.cms-page form input[type=text], 
.cms-page form input[type=password] {
	text-align: center;
	border: 1px dotted #DDDDDD;
	font-size: 12px;
	line-height: 28px;
	height: 28px;
	width:320px;
	margin: 10px 0 0 0;
}

.cms-page form input[type=submit] {
	margin: 10px 0 0 auto;
}

.cms-page form.full-form {
	width:960px;
	margin: 10px 0px;
}

.cms-page form.full-form label {
	margin-left: 105px; 
	text-align: right;
	padding:0px 10px;
	width:195px;
	display: inline-block;
}

.cms-page form.full-form p.center {
	text-align: center;
}

.cms-page form.full-form input[type=submit] {
	margin: 10px auto 0 auto;
	width: 320px;
}

.cms-page form.full-form input[type=text], 
.cms-page form.full-form input[type=password] {
	margin: 10px auto 0 0;
}

.cms-page form.small-form input[type=submit] {
	margin: 10px auto;
	width: 100%;
}

.cms-page form.small-form {
	text-align: center;
}

/* --- FLASH MESSAGES --- */

#flash-messages { 
	position: fixed;
	top: 65px;
	left: 0;
	width: 100%;
	height: auto;
}

.flash {
	padding: 10px;
	color: #FFFFFF;
	font-size: 12px;
	margin: 0px auto 10px;
	position: relative;
	width: 940px;
	text-align: center;
}

.flash-error {
	background: #CC0000;
}

.flash-warning {
	background: #CC9900;
}

.flash-success {
	background: #339900;
}

.flash-debug {
	background: #0099CC;
}

.flash .close {
	cursor: pointer;
	position: absolute;
	top: 7px;
	right: 10px;
	font-size: 32px;
	line-height: 16px !important;
	font-style: normal;
	opacity: 0.5;
}

.flash .close:hover {
	color: rgba(255, 255, 255, 1);
}

/* --- REST --- */

.rest-load-more {
	background: url('/assets/frontend/loading.gif') center center no-repeat;
	height:100px;
}

.ajax-loader {
	background: url('/assets/frontend/loading.gif') no-repeat center center !important;
}

/* --- LAYOUT - CONTENT --- */

.layout-content {
	background: #FFFFFF;
	position: relative;
	padding: 30px 0;
}

.layout-content .section-content {
	padding: 20px;
}

/* --- LAYOUT - INVERTED --- */

.layout-inverted {
	background: #181818;
	color: #FFFFFF;
}

.layout-inverted h1 {
	color:#FFFFFF;
	border-bottom: 1px dotted #555555;
}

/* --- LAYOUT - FRAMELESS --- */

.layout-frameless .breadcrumb {
	visibility: hidden;
}

.layout-frameless h1 {
	color: #000000;
	font-family: 'Linotype Didot W01', serif;
	font-size: 48px;
	z-index: 3;
	background: rgba(255,255,255,0.75);
	border: none;
	padding: 10px;
	margin: 0 0 10px 0;
	font-weight: 400;
	letter-spacing: -3px;
	display: none;
}

.layout-frameless h4 {
	color: #F0F0F0;
	display: inline-block;
	font-size: 16px;
	z-index: 3;
	background: rgba(0,0,0,0.75);
	border: none;
	padding: 0 10px;
	margin: 0 0 10px 0;
	font-weight: 400;
	letter-spacing: -1px;
}

/* --- LAYOUT - RESPONSIVE COVER --- */

/*.layout-responsive-cover {*/
	/*padding-top: 30px;*/
/*}*/

.layout-responsive-cover h1 {
	border-bottom: none;
}

/* --- LAYOUT - MAGAZINE --- */

.layout-sidebar .breadcrumb {
	visibility: hidden;
}

.layout-sidebar h1 {
	display: none;
}

.layout-sidebar > .content {
	width: 720px;
	margin: 20px auto 0;
	padding-top: 50px;
}

.layout-sidebar > .content .article+.article {
	margin-top: 50px;
}

.layout-sidebar > .content ul {
	font-size: 13px;
}

.layout-sidebar > .content ul li+li {
	padding-top: 4px;
}

.layout-sidebar > .sidebar {
	padding-top: 20px;
	width: 220px;
	float: right;
}

/* --- BLOG --- */


.article {
	background: rgba(255,255,255,1);
	position: relative;
}



.article.col-2 section.col-1 .squared img,
.article.col-4 section.col-2 .squared img {
    max-width: 420px;
    max-height: 420px;
    margin: auto;
}

.article.col-4 section.col-1 .squared img {
    max-width: 180px;
    max-height: 180px;
    margin: auto;
}

.article section h4,
.article section h5,
.article section h6 {
	margin: 0;
}

.article section.text-align-center h4,
.article section.text-align-center h5,
.article section.text-align-center h6 {
    text-align: center;
}

.article section.text-align-right h4,
.article section.text-align-right h5,
.article section.text-align-right h6 {
    text-align: right;
}

/*.article section h4 {*/
	/*font-size: 20px;*/
	/*text-align: center;*/
	/*font-weight: 200;*/
	/*text-transform: uppercase;*/
	/*letter-spacing: 7px;*/
	/*opacity: .7;*/
	/*position: absolute;*/
	/*width: 100%;*/
/*}*/

/*.article section h6 {*/
    /*font-family: 'Linotype Didot W01',serif;*/
    /*display: block;*/
    /*font-size: 24px;*/
    /*line-height: 30px;*/
    /*font-weight: 200;*/
    /*margin-top: 5px;*/
    /*letter-spacing: -1px;*/
    /*font-style: italic;*/
/*}*/

.article section h6 span { 
	display: block;
	font-size: 14px;
	font-weight: 200;
}

.article section h6 hr {
	height: 1px;
	border-top: 1px solid rgba(16,16,16,0.1);
	margin: 3px 0px;
	width: 175px;
}

.article section > p {
	margin: 0 0 15px 0;
}

.article section ul {
	margin: 0 0 10px 0;
	padding: 0 0 0 15px;
	list-style: square;
}

.article section ul > li+li {
	padding-top: 5px;
}



.comments {
    margin-top: 30px;
    background: #333333;
    position: relative;
}

.comments .background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.1;
    background: url(http://salon.glenrose.net/img/whispercamp.jpg) center;
    background-size: cover;
}


.comments .wrapper {
	padding: 30px 0;
	width: 960px;
	margin: 0 auto;
    position: relative;
    z-index: 2;
}

.comments hr {
    margin: 0 100px 20px 101px;
    border: 0;
    border-top: 1px dotted #ddd;
}

.comments #idc-container {
    margin: auto;
    max-width: inherit;
    min-width: inherit;
    width: 630px;
    position: relative;
}

.comments #IDCPostNav,
.comments #IDCPostNavReply,
.comments #IDCommentsHeadLogin,
.comments #IDCColumnURLLabel,
.comments #IDCColumnURLReply,
.comments #IDCColumnURLReplyLabel,
.comments #idc-container .idc-head_tools-share,
#idc-container .idc-foot,
.comments #idc-toolbar,
.comments #IDSubscribeToThisWrapper,
.comments #IDSubscribeToThisWrapperReply,
.comments #idc-cover .idc-c .idc-c-b,
.comments #idc-container .idc-a {
    display: none !important;
}

.comments #IDCColumnURL {
    visibility: hidden;
}

.comments #IDCommentsNoCommentsDiv {
    background: none !important;
    text-align: center;
    font-weight: normal;
}

.comments #IDCommentsHead h3 {
    text-align: center;
    font-family: 'Linotype Didot W01',serif;
    font-weight: normal;
    font-style: italic;
    font-size: 24px;
    color: #FFFFFF;
    margin: 30px;
}

.comments #IDCommentsNewThreadCover h3,
.comments #IDCColumnNameLabel label,
.comments #IDCColumnEmailLabel label {
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 3px !important;
    text-align: center;
    float: none;
    font-size: 12px;
    padding: 10px 0;
    opacity: .7;
    color: #FFFFFF;
}

.comments #idc-container .idc-c-m label {
    padding: 5px 0;
    width: 90%;
}

.comments #idc-container .idc-c-m .idc-form-info {
    font-weight: 200;
    opacity: 0.7;
    font-style: normal;
}

.comments #idc-container textarea,
.comments #idc-container input[type=text] {
    background: none !important;
    border: 1px solid rgba(255,255,255,0.3) !important;
    border-radius: 0 !important;
    font: 200 14px/1.3em 'Futura PT Multilingual W01', sans-serif !important;
    color: #EEEEEE !important;
    text-align: left !important;
    padding: 5px 10px;

}

.comments #idc-container .idc-collapselink_closed,
.comments #idc-container .idc-collapselink {
    background: none;
}

.comments #idc-container .idc-c .idc-c-h {
    background: none !important;
}

.comments #idc-container-parent #idc-cover .idc-thread .idc-c {
    background: none;
}

.comments #idc-container textarea.idc-text_noresize {
    width: 100% !important;
    padding: 10px;
}

.comments #idc-container .idc-btn_l .idc-r strong,
.comments #idc-container .idc-btn_s .idc-r strong {
    font-weight: 300 !important;
}

.comments #idc-container .idc-c .idc-i,
#idc-container .idc-c-t {
    color: #EEEEEE;
    margin: 0;
}

.comments #idc-container div * {
    font-weight: 200;
}

/*.comments #idc-container .idc-comments > .idc-thread > .idc-thread,*/
.comments #idc-container .idc-comments > .idc-thread+.idc-thread {
    border-top: 1px solid rgba(255,255,255,0.1) !important;
    margin-top: 20px;
    padding-top: 20px;
}

.comments #idc-container .idc-btn_l,
.comments #idc-container .idc-btn_s {
    display: block;
    line-height: 26px;
    height: 26px;
    font-size: 12px;
    background: none !important;
    padding: 0 6px 0 8px !important;
    border-radius: 4px;
    margin: 0 !important;
    cursor: pointer;
    text-transform: uppercase;
}

.comments #idc-container .idc-btn_l:hover,
.comments #idc-container .idc-btn_s:hover {
    background: rgba(255,255,255,0.1) !important;
}

.comments #idc-container .idc-btn_l:hover span,
.comments #idc-container .idc-btn_s:hover span {
    color: #FFFFFF !important;
}

.comments #idc-container .idc-btn_l span,
.comments #idc-container .idc-btn_s span,
.comments #idc-container .idc-btn_l > span *,
.comments #idc-container .idc-btn_s > span * {
    background: none;
    color: #FFFFFF;
    letter-spacing: 2px !important;
    text-align: center;
    font-weight: 300 !important;
}

.comments #idc-container .idc-message {
    padding: 10px 0 40px;
}

.comments #idc-container .idc-message,
.comments #idc-container .idc-message a {
    color: #EEEEEE;
}

.comments #idc-container .idc-btn_s {
    line-height: 20px;
    height: 20px;
    font-size: 10px;
    padding: 0 4px 0 6px !important;
}

.comments #idc-container .idc-btn_l {
    position: absolute;
    right: 0;
    bottom: 47px;
    border: 1px solid #FFFFFF !important;
}

.comments #idc-container .idc-c .idc-a img {
    border-radius: 18px;
    padding: 0;
}

.comments #idc-container .idc-v {
    display: none;
}
.comments #idc-container .idc-c .idc-time a,
.comments #idc-container .idc-c .idc-time {
    color: rgba(255,255,255,0.5);
    font-size: 12px;
    font-style: normal;
}

.comments h4 {
	font-size: 12px;
	line-height: 20px;
	height: 20px;
	font-weight: 200;
	margin-top: 5px;
	position: relative;
}

.comments h4 > i {
	color: #BBBBBB;
	margin-right: 5px;
}

.comments h4 > .add-comment {
	position: absolute;
	text-transform: uppercase;
	top: 0;
	right: 0;
	line-height: 26px;
	cursor: pointer;
}

.comments h4 > .add-comment > i {
	margin-left: 5px; 
	width: 18px;
	height: 18px;
	text-align: center;
	font-size: 10px !important;
	line-height: 19px !important;
	border-radius: 10px;
	background-color: black;
	color: #FFFFFF;
}

.comments h4 > .require-login {
	color: #BBBBBB;
	cursor: default;
} 

.comments .add-comment-form {
	display: none;
	overflow: hidden;
}

.comments ul {
	padding: 25px 50px 0 30px;
	list-style: none;
}

.comments ul li+li {
	margin-top: 20px;
	padding: 0;
}

.comments ul li .avatar {
	float: left;
	width: 50px;
	height: 50px;
}

.comments ul li .content {
	float: left;
}

.comments ul li .content h6 {
	font-size: 12px;
	font-weight: 200;
	color: #BBBBBB;
	margin-bottom: 5px;
}

.comments ul li .content h6 > span {
	color: black;
}

.comments ul li .content p {
	font-size: 15px;
}

.load-more-articles {
	background: url('/assets/frontend/loading.gif') center center no-repeat;
	height:100px;
}

/*--- SECTION LIST ---*/

section.section-list > ul {
    list-style: none;
    padding: 0;
}

section.section-list > ul > li {
    position:relative;
}

section.section-list > ul > li > p {
    margin:7px 0;
    font-size: 15px;
}

section.section-list .preview > div {
    position: relative;
}

section.section-list .preview textarea.wysiwig-editor {
    left:0;
    top:0;
}

section.section-list.italics-list > h5 {
    font-weight:400;
    font-size: 15px;
    margin-bottom: 15px;
}

section.section-list.italics-list h5,
section.section-list.italics-list p,
section.section-list.italics-list textarea.wysiwig-editor {
    font-style:italic;
}

section.section-list.italics-list .preview > div > textarea.wysiwig-editor {
    font-weight:400;
}

/* --- SECTION - IMAGE --- */


.section-image.unpinned > div {
    width: 100% !important;
    height: 100% !important;
}

.section-product.unpinned > div {
    width: 100% !important;
    height: 100% !important;
}

.section-image.unpinned img {
    height: 100% !important;
}

.section-product.unpinned img {
    height: 100% !important;
}

/* --- SECTION - TEXT AND IMAGE --- */

.section-text-and-image .column {
	width: 350px;
	padding: 10px 0;
	float:left;
}

.section-text-and-image .column:first-child {
	margin-right: 10px;
} 

.section-text-and-image .column p {
	/*text-align: justify;*/
}

.section-text-and-image .column+.column {
	margin-left: 10px;
}

.section-text-and-image .column .image {
	position: relative;
	text-align: center;
	width: 310px;
	height: 310px;
	padding: 20px;
}

.section-text-and-image .column .image a {
	position: absolute; top: 0; left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
}

.section-text-and-image .column .image p {
	display: none;
	position: absolute; bottom: 0; left: 0;
	width: 100%;
	padding: 5px 0;
	margin: 0 !important;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	background: rgba(0,0,0,0.75);
	z-index: 4;
}

.section-text-and-image .column .image img {
	z-index: 3;
}

/* --- SECTION - MAGAZINE --- */

.section-magazine .column {
	width: 350px;
	padding: 10px 0;
	float:left;
}

.section-magazine .column+.column {
	margin-left: 20px;
}

.section-magazine .column .image {
	position: relative;
}

.section-magazine .column .image a {
	position: absolute; top: 0; left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
}

.section-magazine .column .image p {
	position: absolute; bottom: 0; left: 0;
	width: 100%;
	padding: 5px 0;
	margin: 0 !important;
	text-align: center;
	font-size: 12px;
	color: black;
	z-index: 4;
}

.section-magazine .column .image img {
	z-index: 3;
}

/* --- SECTION - BLOG HEADER --- */

.section-blog-header > h2 {
	padding: 20px 0;
	margin: 0;
	font-family: 'Linotype Didot W01', serif;
	color: #000000;
	font-weight: 400;
	font-size: 48px;
	line-height: 48px;
	letter-spacing: -2;
	text-align: center;
	border: none;
	border-top: 1px dotted #DDDDDD;
}

.section-blog-header > h2 > span {
	font-size: 28px;
	line-height: 28px;
	display: block;
	letter-spacing: -1px;
}

.section-blog-header > p.date {
	float: left;
	color: #BBBBBB;
	margin: 0;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	letter-spacing: 0px;
}

.section-blog-header .social {
	float: right;
	height: 25px;
}

.section-blog-header .social p,
.section-blog-header .social a {
	color: #BBBBBB;
	float: right;
	font-size: 16px;
	line-height: 20px;
	z-index: 3;
	border: none;
	margin: 0 0 0 2px;
	font-weight: 400;
	letter-spacing: -1px;
}

.section-blog-header .social a {
	width: 20px;
	height: 20px;
	text-align: center;
}

.section-blog-header .social a:hover {
	color: black;
} 

.section-blog-header .social p {
	padding: 0 10px;
}

.section-blog-header .image {
	height: 360px;
	margin-bottom: 20px;
	background-position: center center;
	background-size: cover;
}



/* --- SECTION - PRODUCT / IMAGE GALLERY --- */



/* --- SECTION - SCRAPBOOK --- */

.section-scrapbook {
 	width: 940px;
 	min-height: 400px;
 	position: relative;
}	

.section-scrapbook .caption,
.section-scrapbook div.scrap {
	position: absolute;
	background: #FFFFFF;
	padding:20px;
	text-align: left;
}

.section-scrapbook .caption h2 {
	font-family: 'Linotype Didot W01', serif;
	border: none;
	font-size: 36px;
	letter-spacing: -2;
	font-weight: 400;
	padding: 0;
	margin-bottom: 10px;
}

.section-scrapbook .caption p {
	margin: 0;
}

.section-scrapbook .scrap {
	position: absolute;
}

/* --- LEFT CONTROL BUTTONS --- */

.left-control {
	position: absolute;
	top: 120px;
	left: -30px;
	width: 28px;
	height: 28px;
	cursor: pointer;
}

.left-control i {
	color: black;
	width: 28px;
	line-height: 22px !important;
	font-size: 22px !important;
	text-align: center;
}

.left-control:hover i {
	color: #f93124;
}

/* --- PRODUCT GRID --- */

.fading-dialogue, .fading-dialogue-inverted {
	z-index: 100;
	position: absolute; top:0; left:0;
	width: 100%;
	height: 100%;
	display: none;
}

.fading-dialogue {
	background: #181818;
}

.fading-dialogue > div {
	margin: 0 200px 10px 200px;
	color: #FFFFFF;
}

.fading-dialogue > div:after {
    clear:both;
}

.fading-dialogue > div:before, 
.fading-dialogue > div:after {
	content:"";
    display:table;
}

.fading-dialogue h2 {
	padding: 10px 10px 5px 10px;
	font-family: 'Linotype Didot W01', serif;
	font-size: 44px;
	color:#FFFFFF;
	border-bottom: 1px dotted #555555;
	text-align: center;
	font-weight: 400;
	letter-spacing: -2px;
	margin: 0 10px 50px 10px;
}

.fading-dialogue p,
.fading-dialogue input[type=text],
.fading-dialogue label {
	margin: 0 0 20px 0 ;
}

.fading-dialogue p {
	color: #FFFFFF;
}

.fading-dialogue label {
	float:left;
	width: 150px;
	font-size: 12px;
	line-height: 24px;
}

.fading-dialogue label span.required {
	color: #f93124;
}

.fading-dialogue input[type=text] {
	float:right;
	border:1px dotted #AAAAAA;
	background: #181818;
	color: #FFFFFF;
	line-height: 24px;
	height: 24px;
	font-size: 10px;
	padding: 0 5px;
	width:390px;
	box-shadow: none;
}


.fading-dialogue input.full {
	width: 560px;
}

.fading-dialogue button,
.fading-dialogue input[type=submit] {
	color: #000000;
	background: #FFFFFF;
	width: 220px;
	margin: 0 170px 20px 170px;
}

.fading-dialogue button:hover,
.fading-dialogue input[type=submit]:hover {
	color: #f93124;
	background: #AAAAAA;
}

.fading-dialogue-inverted {
	background: #FFFFFF;
} 

.fading-dialogue-inverted button.close {
	height: 40px;
	width: 70px;
	background: none;
	color: black;
	font-size: 17px;
	line-height: 24px;
	margin-left: 890px;
	cursor: pointer;
	position: relative;
	top: 5px;
	display: block;
}

.fading-dialogue-inverted button.close:hover {
	color: #f93124;
}

.fading-dialogue-inverted button.close span {
	font-size: 12px;
	line-height: 20px;
}

.fading-dialogue-inverted .container {
	min-height: 440px;
}

/* --- STORES GRID --- */

.store-item  {
	margin: 15px;
	width: 450px;
	/*height: 20px;*/	
	float: left;
}

.store-item h3 {
	font-size: 18px;
	color: black;
	position: relative;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 2px;
}

.store-item h3:hover {
	color: #f93124;
}

.store-item .logo {
	height: 50px;
	width: 50px;
	margin: 0 auto 5px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

/* --- BRANDS GRID --- */

.brands-grid {
	margin: 20px 0;
}

.brand-item  {
	margin: 10px;
	width: 300px;
	float: left;
}

.brand-item h3 {
	font-size: 14px;
	color: black;
	position: relative;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 1.5px;
}

.brand-item h3:hover {
	color: #f93124;
}

/* --- PRODUCT GRID --- */

p.introduction {
	text-align: center;
	padding: 15px 50px;
}

.product-filters-docked {
	position: fixed;
	width: 100%;
	left: 0;
	top: 40px;
	background: #FFFFFF;
	border-bottom: 1px solid #EEEEEE;
	z-index: 100;
}

.text-search {
	position: relative;
	margin: 0 auto;
}

.text-search > input[type=text] {
	text-align: center;
	border: 1px solid #DDDDDD !important;
	font-size: 14px !important;
	line-height: 30px !important;
	height: 30px !important;
	width: 460px !important;
	border-radius: 15px;
	margin: 20px auto 10px auto !important;
	font-weight: 200;
	display: block !important;
}

.text-search > button {
	position: absolute;
	height: 26px;
	width: 26px;
	background: none;
	border-radius: 15px;
	color: black;
}

.text-search > button:hover {
	color: #f93124;
}

.text-search > button.search {
	top: 1px;
	right: 254px;
	padding: 0;
	border: 0;
}

.text-search > div.clear-text {
	display: none;
	cursor: pointer;
	position: absolute;
	height: 26px;
	width: 26px;
	background: none;
	border-radius: 15px;
	color: black;
	top: 1px;
	left: 257px;
}

.text-search > div.clear-text:hover {
	color: #f93124;
}

.text-search > div.clear-text i {
	top: 2px;
	font-size: 26px !important;
}

#save-favourite-filters {
	top: 150px;
}

.product-filter {
	float: left;
	width: 0px;
	min-height: 600px;
	height: 100%;
	margin: 10px 0;
	overflow: hidden;
	display: none;
}

.product-filter h3,
.product-filter h5 {
	font-family: 'Linotype Didot W01', serif;
	font-weight: 400;
	letter-spacing: -1px;
}

.product-filter h3 {
	text-align: center;
	margin: 0 0 15px 0;
	font-size: 28px;
	padding: 0 10px;
	width: 159px;
}

.product-filter h5 {
	font-size: 18px;
	margin: 5px 0px 10px 0px;
	background: #EEEEEE;
	padding: 5px 0px 5px 10px;
	cursor: pointer;
	width: 169px;
}

.product-filter h5 i {
	font-size: 16px;
	float: right;
	margin-right: 12px;
}

.product-filter h5:hover i {
	color: #f93124;
}

.product-filter .field+h5 {
	margin-top: 20px; 
}

.product-filter .field {
	padding: 0 10px;
	width: 169px;
}

.product-filter label {
	display: inline-block;
	width: 113px;
	line-height: 21px;
}

.product-filter input[type=checkbox] {
	float: right;
	margin-right: 10px;
}

.product-filter input[type=text] {
	width: 179px !important;
	margin: 0 0 5px 0 !important;
}

.product-filter input[type=submit] {
	width: 179px;
	margin: 5px 10px 0 0 !important;
}

.product-filter .filter-options {
	display: none;
	overflow: hidden;
}

.product-filter .filter-options button {
	text-align: center;
	width: 75px;
	padding: 0px 5px;
	margin: 10px 0 10px 10px;
	float: left;
}

.product-grid {
	font-size: 12px;
	float: right;
	width:960px;
	margin: 20px 0;
	overflow: hidden;
}

.product-grid .no-results {
	font-size: 12px;
	width:960px;
	text-transform: uppercase;
	text-align: center;
}

.product-grid .product {
	float: left;
	position: relative;
	margin: 10px 10px 30px 10px;
	background: #FFFFFF;
	width: 220px;
	height: 320px;
	text-align: center;
}

.product-grid .product h3.name {
	position:absolute; bottom:14px; left:0px;
	width: 200px;
	text-align: center;
	padding: 10px;
	margin: 0;
	letter-spacing: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.product-grid .product h3.name span.brand {
    font-weight: 600;
}

.product-grid .product h3.name span.sizes {
	display: block;
	font-size: 12px;
	font-weight: 400;
}

.product-grid .product .description {
	position:absolute;
	z-index: -1;
	opacity:0;
	height:0px;
	width:0px;
	overflow: hidden;
}

.product-grid .product p.shop {
	position: absolute;
	text-align: center;
	line-height: 22px;
	height: 22px;
	font-size: 10px;
	font-weight: 400;
	width: 220px;
	background: none;
	color: #BBBBBB;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.product-grid .product p.price {
	position:absolute; bottom:0px; left:0px;
	width: 200px;
	color: black;
	margin: 0 10px;
	font-size: 16px;
    line-height: 20px;
	font-weight: 600;
}

.product-grid .product p.sale {
	color: #B92114;
}

.product-grid .product p.price span.fade {
	color: black;
	opacity: 0.3;
}

.product-grid .product p.price span.smaller {
	font-size: 10px;
}

.product-grid .product > a.view,
.product-grid .product > a.wishlist-view  {
	position:absolute; top:0px; left:0px;
	width: 100%;
	height: 100%;
	cursor:pointer;
}

.product-grid .product > a.view {
	cursor:-moz-zoom-in;
	cursor:-webkit-zoom-in;
}

.product-grid .product > a.buy {
	position:absolute; top:0px; left:0px;
	width: 20px;
	height: 20px;
	z-index: 20;
}

.product-grid .product > a.buy i {
	line-height: 20px !important;
	font-size: 20px !important;
}

.product-grid .product p.add-to-wishlist,
.product-grid .product p.remove-from-wishlist {
	position:absolute; top:1px; right:13px;
	z-index: 20;
	cursor: pointer;
}

.product-grid .product p.remove-from-wishlist i {
	line-height: 12px !important;
	font-size: 32px !important;
}

.product-grid .product p.add-to-wishlist i {
	line-height: 20px !important;
	font-size: 20px !important;
}

.product-grid .product p.add-to-wishlist i {
	color: #f93124;
}

.product-grid .product p.add-to-wishlist:hover i {
	color: black;
}

.product-grid .product p.remove-from-wishlist i {
	color: black;
}

.product-grid .product p.remove-from-wishlist:hover i {
	color: #f93124;
}

.product-grid .product p.add-to-outfit {
	position:absolute; top:2px; left:3px;
	z-index: 20;
	cursor: pointer;
}

.product-grid .product p.add-to-outfit i {
	line-height: 20px !important;
	font-size: 16px !important;
	color: black;
}

.product-grid .product p.add-to-outfit:hover i {
	color: #f93124;
}

.product-grid .product .add-to-outfit-options {
	height:20px;
	position: absolute; top:0px; left:0px;
	overflow: hidden;
	width:100%;
}

.product-grid .product .add-to-outfit-options ul {
	width:100%;
	height:220px;
	position: absolute; top:20px; left:0px;
	background: rgba(0,0,0,0.8);
}

.product-grid .product .add-to-outfit-options ul li a {
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	height: 20px;
	display: block;
}

.product-grid .product a p.out-of-stock {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	line-height: 240px;
	font-size: 16px;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	background: rgba(255,255,255,0.8);
	color: black;
}

.product-grid .product img {
	margin: 33px auto 0 auto;
}

.product-grid .product .image,
.product-grid .product .placeholder {
	margin: 33px 5px 0 5px;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 210px;
	width: 210px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.product-grid-small {
	width:480px;
	float: none;
}

.product-grid-small .product {
	height: 210px;
	width: 210px;
	margin: 5px;
}

.product-grid-small .product a.buy {
	height: 100%;
	width: 100%;
}

.product-grid-small .product a > h3.name {
	padding: 0;
	width: 100%;
	height: 100%;
	position: relative;
	top: 0;
	display: none;
}

.product-grid-small .product:hover a > h3.name {
	display: table;
}

.product-grid-small .product a > h3.name > span {
	display: table-cell;
	vertical-align: middle;
	color: black;
}

.product-grid-nine .product {
	height: 143px;
	width: 143px;
}

.product-grid-small .product a > h3.name {
	font-size: 12px;
}

/* --- PRODUCT VIEW --- */

.product-view .product-section {
	padding: 10px 0;
	position: relative;
}

.product-view .product-section+.product-section {
	border-top: 1px dotted #DDDDDD;
}

.product-view .thread-and-mirror {
	margin-top: 20px;
}

.product-view .product-section h3 {
	text-align: center;
	line-height: 22px;
	font-size: 16px;
	font-weight: 200;
	color: #BBBBBB;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 20px 0 0 0; 
}

.product-view .product-section h3 > span {
	background: #FFFFFF;
}

.product-view .product-section > h5 {
	font-family: 'Linotype Didot W01', serif;
	letter-spacing: -1px;
	font-weight: normal;
	font-size: 24px;
	color:black;
	margin: 10px;
	text-align: center;
}

.product-view .product-section > h5 span {
	background: #FFFFFF;
	position: relative;
	top: -39px;
	padding: 0 10px;
}

.product-view ul {
	padding-left: 16px;
	list-style: square;
}

.product-view .details ul,
.product-view .details p,
.product-view .details h5 {
	margin-bottom: 15px;
}

.product-view ul.sizes {
	text-align: center;
	margin: 0;
	padding: 0;
}

.product-view ul.sizes li {
	list-style: none;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 15px;
	min-width: 12px;
	height: 26px;
	line-height: 26px;
	padding: 0 7px;
	font-size: 12px;
	text-align: center;
	background: black;
	color: #FFFFFF;
	position: relative;
	cursor: pointer;
}

.product-view ul.sizes li.unavailable {
	opacity: 0.4;
	border-radius: 4px 15px 15px 15px;
	min-width: 12px;
}

.product-view ul.sizes li.unavailable span {
	position: relative;
	z-index: 2;
}

.product-view ul.sizes li.unavailable span.cross {
	position: absolute;
	font-size: 14px;
	color: #f93124;
	font-weight: 400;
	z-index: 1;
	left: 1px;
	top: -7px;
}

.product-view div.sizes {
	font-size: 12px;
	text-align: center;
}

.product-view .images,
.product-view .options {
	width: 460px;
	float: left;
	padding: 30px 0 20px 10px;
}

.product-view .images {
	text-align: center;
	background: #FFFFFF;
}

.product-view .images .style-it-with,
.product-view .images .featured-in {
	position: relative;
	border: 1px solid rgba(16,16,16,0.4);
	margin: 30px 0 0 0;
}

.product-view .images .style-it-with h5,
.product-view .images .featured-in h5 {
	font-size: 14px;
	color: black;
	border: none;
	position: absolute;
	width: 100%;
	top: -9px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 2px;
	margin: 0;
	z-index: 5;
}

.product-view .images .style-it-with h5 > span,
.product-view .images .featured-in h5 > span {
	background: #FFFFFF;
	padding: 0 5px;
	line-height: 18px;
	position: relative;
	top: 0px;
}

.product-view .images .featured-in a {
	width: 100%;
	height: 220px;
	display: block;
}

.product-view .images .featured-in h2 {
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
	color: black;
	background: #FFFFFF;
	padding: 10px;
	font-size: 20px;
}

.product-view .images .featured-in h2 > span {
	display: block;
	font-weight: 200;
	border-top: 1px solid rgba(16,16,16,0.4);
	font-size: 16px;
	padding-top: 2px;
}

.product-view .images .featured-in .feature-item div.description {
	background: #FFFFFF;
	height: 0px;
	overflow: hidden;
	-webkit-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;
}

.product-view .images .featured-in .feature-item:hover div.description {
	height: 155px;
}

.product-view .images .featured-in .feature-item div.description p {
	font-weight: 200;
	margin: 0;
	padding: 20px 10px;
}

.product-view .options button {
	float: left;
	background: none;
	color:black;
	margin: 10px;
}

.product-view .actions {
	margin-bottom: 35px
}
	
.product-view .subsection {
	position: relative;
	padding: 0 0 15px 0;
}

.product-view .details {
	width: 460px;
	float: right;
	margin-right: 10px;
	background: #FFFFFF;
	color: black;
	position: relative;
}

.product-view .details h1 {
	font-size: 36px;
	padding: 0 0 20px 0;
}

.product-view .details h5 {
	margin: 0;
}

.product-view .details h5 > span {
	position: relative;
	top: -11px;
	font-size: 16px;
	padding: 0 10px;
	margin-top: 0;
}

.product-view .details h6 {
	margin-bottom: 0px;
	letter-spacing: 0px;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 14px;
}

.product-view .details li {
	margin-bottom: 5px;
}

.product-view .details .price {
	text-align: center;
	margin: 0px 20px 20px 20px;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: -1px;
}

.product-view .details .sale {
	color: #f93124;
} 

.product-view .details .fade {
	color: #DDDDDD;
}

.product-view .details .actions a {
	width: 200px;
	float: left;
	line-height: 28px;
}

.product-view .details .actions a:hover {
	color: black;
}

.product-view .details .actions a {
	margin-left: 10px;
}

.product-view .details .add-size-to-wishlist i {
	color: #f93124;
	margin-left: 5px;
	position: relative;
	top: 1px;
	font-size: 18px;
}

.product-view .details .add-to-wishlist:hover {
	border: 1px solid black;
}

.product-view .details .add-to-wishlist i {
	color: #f93124;
	margin-left: 5px;
	position: relative;
	top: 2px;
	font-size: 18px;
}

.product-view .details .add-to-wishlist:hover i {
	color: black;
}

.product-view .share a {
	float: left;
	margin: 0 15px 0 0;
}

.product-view .share a:nth-child(2) {
	margin-left: 138px;
} 

.product-view .share a > i {
	line-height: 28px !important;
	font-size: 28px;
	background: none;
	color:black;
}

.product-view .share a:hover > i {
	color: #f93124;
}

/* --- OUTFIT GRID --- */

.outfit-grid  {
	width: 960px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
}

.outfit-grid .outfit {
	width: 310px;
	height: 310px;
	background: rgba(255,255,255,0.95);
	margin: 0 0 10px 0;
	float:left;
	position: relative;
}

.outfit-grid .outfit+.outfit {
	margin: 0 0 10px 10px;
}

.outfit-grid .outfit h2 {
	font-weight: 400;
	font-family: 'Linotype Didot W01', serif;
	position: absolute; top:40px; left: 40px;
	z-index: 5;
	background: rgba(0,0,0,0.75);
	padding: 5px;
	color: #F0F0F0;
	font-size: 28px;
	line-height: 24px;
	letter-spacing: -1;
}

.outfit-grid .outfit .product {
	position: relative;
	background: #FFFFFF;
	margin: 10px 0 0 10px;
	float: left;
}

.outfit-grid .nine-items .product {
	width: 90px;
	height: 90px;
}

.outfit-grid .four-items .product {
	width: 140px;
	height: 140px;
}

.outfit-grid .one-item .product {
	width: 290px;
	height: 290px;
}

.outfit-grid .outfit .product img {
	margin: 5px auto;
	display: block;
}


/* --- SOCIAL FEEDS --- */

.social-controls > p {
	text-align: center;
	padding: 20px;
}

.social-controls > div.options {
	width:458px;
	height: 113px;
	margin: 10px;
	border: 1px solid rgba(16,16,16,0.4);
	position: relative;
	float: left;
}

.social-controls > div.options > h5 {
	border-top: none !important;
	margin: 0 !important;
	font-size: 14px !important;
	color: black;
	position: relative;
	width: 100%;
	top: -9px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 2px;
	z-index: 5;
}

.social-controls > div.options > h5 > span {
	background: #FFFFFF;
	padding: 0 5px;
	line-height: 18px;
	top: 0;
	left: 0;
	position: relative;
}

.social-controls ul {
	list-style: none;
}

.social-controls ul li {
	float: left;
}

.social-controls ul li a {
	display: block;
	width: 123px;
	padding: 5px;
	text-transform: uppercase;
	text-align: center
}

.social-controls ul li a i {
	font-size: 36px !important;
	line-height: 48px !important;
}

.source-links ul li a {
	width: 188px;
}

.social-feed {
	width: 960px;
	margin: 10px 0 30px 0;
}

.social-feed figure {
	margin: 10px;
	width: 300px;
	position: relative;
}

.social-feed figure > a {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.social-feed figure figcaption p {
	padding: 20px;
	font-size: 14px;
	margin: 0;
	color: #FFFFFF;
}

.layout-responsive-cover .social-controls {
	margin: 0 auto;
}

.layout-responsive-cover .social-controls .options {
	width: 100%;
	height: 80px;
	border: none;
	border-top: 1px solid #DDDDDD;
	margin: 0;
	position: relative;
	text-align: center;
}

.layout-responsive-cover .social-controls .source-links {
	height: 100px;
}

.layout-responsive-cover .social-controls p {
	padding: 10px 0 20px 0;
}

.layout-responsive-cover .social-controls ul {
	padding: 0;
	display: inline-block;
}

.layout-responsive-cover .social-controls ul li a {
	padding: 0 20px;
	line-height: 48px;
	width: auto;
}

.layout-responsive-cover .social-controls ul li a i {
	line-height: 68px !important;
}

.social-feed {
	width: 100%;
	margin: 0;
}

.social-feed figure {
	margin: 0px;
	width: 25%;
	background: black;
	overflow: hidden;
}

.social-feed figure:before {
	content: "";
    display: block;
    padding-top: 100%;
	position: relative;
}

.social-feed figure.instagram {
	width: 50%;
	/*padding-bottom: 50%;*/
}

.social-feed figure.portrait:before {
    padding-top: 200%;
}

.social-feed figure.landscape {
    width: 50%;
}

.social-feed figure.landscape:before {
    padding-top: 50%;
}

.social-feed figure.text-post figcaption {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.social-feed figure.text-post figcaption div {
	width: 100%;
	height: 100%;
	display: table;
}

.social-feed figure.text-post figcaption div p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 30px;
	height: 100%;
	color: #FFFFFF;
}

.social-feed figure.image-post figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0;
	margin: 30px;
	min-width: 50%;
	border: 1px solid rgba(16,16,16,0.5);
	background: rgba(16,16,16,0.8);
	-webkit-transition: 0.3s cubic-bezier(0.665, 0, 0.43, 1) all;
	-moz-transition: 0.3s cubic-bezier(0.665, 0, 0.43, 1) all;
	-ms-transition: 0.3s cubic-bezier(0.665, 0, 0.43, 1) all;
	-o-transition: 0.3s cubic-bezier(0.665, 0, 0.43, 1) all;
	transition: 0.3s cubic-bezier(0.665, 0, 0.43, 1) all;
}

.social-feed figure.image-post:hover figcaption {
	opacity: 1;
}

.social-feed figure.image-post figcaption p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 30px;
	height: 100%;
	color: #FFFFFF;
}

.social-feed figure.image-post figcaption h6 {
	position: relative;

} 

.social-feed figure.image-post:hover figcaption h6 {

}

.social-feed figure figcaption h6 {
	position: relative;
	z-index: 10;
	height: 36px;
	margin: 0;
}

.social-feed figure figcaption h6 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.social-feed figure figcaption h6 > a.owner {
	line-height: 30px;
	font-size: 12px;
	font-weight: 200;
	width: auto;
	background: none;
	display: block;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #777777;
}

.social-feed figure figcaption h6 > a.owner:hover {
	color: #FFFFFF;
}

.social-feed figure figcaption h6 > a.social,
.social-feed figure figcaption h6 > a.add-to-my-circle {
	position: absolute;
	top: 0;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.social-feed figure figcaption h6 > a.social {
	left: 7;
}

.social-feed figure figcaption h6 > a.add-to-my-circle {
	right: 7;
	text-align: right;
}

.social-feed figure figcaption h6 > a.add-to-my-circle > i,
.social-feed figure figcaption h6 > a.social > i {
	color: #777777;
	font-size: 16px !important;
	line-height: 30px !important;
}

.social-feed figure figcaption h6 > a.add-to-my-circle:hover > i,
.social-feed figure figcaption h6 > a.social:hover > i {
	color: #FFFFFF;
}

.social-feed figure figcaption h6 > a.favourite-feed > i {
	color: #f93124 !important;
}

.layout-responsive-cover .social-feed figure > h6:hover {
	opacity: 1;
} 

.layout-responsive-cover .social-feed figure.image-post > h6:hover {
	background: rgba(16, 16, 16, 0.8);
}

.layout-responsive-cover .social-feed figure > .image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;	
	background-position: center center;
	background-size: cover;
}

/* --- ACCOUNT --- */

div.login {
	width: 320px;
	margin: 50px auto;
}

.dashboard-panel .panel-item {
	width: 470px;
	padding: 10px;
}

.dashboard-panel .panel-item h3 {
	text-transform: uppercase;
	font-weight: 400;
}

.dashboard-panel .panel-item p {
	font-size: 14px;
	font-weight: 200;
}



/* --- WIDGET - LATEST ADDTIONS --- */

.widget a:hover {
	color: black;
}

.widget-latest-additions {
	position: absolute;
	top:0px;
}

.widget-latest-additions .product {
	position: relative;
	width: 150px;
	height: 150px;
	background: #FFFFFF;
	float: left;
	padding-left: 10px;
}

.widget-latest-additions .product img {
	margin: 5px auto;
	display: block;
}

.widget-latest-additions .product a {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: rgba(255,255,255,0);
	-webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;
}

.widget-latest-additions .product a:hover {
	background: rgba(255,255,255,0.85);
}

/* --- WIDGET - INSTAGRAM GRID --- */

#instagram-grid {
	position: relative;
	overflow: hidden;
	width: 316px;
	height: 316px;
}

#instagram-grid .slides {
	position: relative;
	z-index: 4;
}

#instagram-grid .slide {
	float: left;
	width: 79px;
	height: 79px;
	opacity: 1;
	-webkit-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;
}

#instagram-grid .slide:hover {
	opacity: 0.5;
}

#instagram-grid .slide:first-child {
	display: block;
}

	
#instagram-grid h4 {
	position: absolute; top:10px; left: 10px;
	z-index: 5;
	background: rgba(0,0,0,0.75);
	padding: 5px;
	color: #F0F0F0;
}

#instagram-grid i {
	line-height: 59px !important;
	font-size: 46px;
	color: #000000;
	text-align: center;
	z-index: 5;
}

#instagram-grid span {
	display: block;
	text-align: center;
	margin: 10px;
}

/* --- WIDGETS --- */

.widget .feature-article h2 {
    font-family: 'Linotype Didot W01',serif;
    font-size: 48px;
    line-height: 48px;
    z-index: 3;
    font-weight: 400;
    letter-spacing: -2px;
}

.widget .feature-article h4 {
    font-family: 'Linotype Didot W01',serif;
    font-size: 20px;
    line-height: 20px;
    font-style: italic;
    font-weight: 200;
    margin-top: 5px;
}

.widget .feature-article h4 > span {
    width: 50px;
    height: 5px;
    border-top: 1px solid black;
    display: inline-block;
    margin: 0 5px;
    opacity: 0.4;
}

/* --- WIDGET - LATEST BLOG POSTS --- */

.widget-blog-homepage-feature {
	border-top: 3px solid #FFFFFF;
	margin-top: 0;
	padding-top: 0;
	background: #fff;
}

.widget-blog-homepage-feature .background {
	height: 590px;
	width: 100%;
	position: absolute;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	overflow: hidden;
	opacity: 0.3;
}

.widget-blog-homepage-feature .feature-article {
	height: 590px;
}

.widget-blog-homepage-feature .feature-article .image {
	border: 3px solid #FFFFFF;
	border-radius: 60px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -50px;
	margin-top: -50px;
	height: 100px;
	width: 100px;
}

.widget-blog-homepage-feature .feature-article a {
	width: 100%;
	height: 590px;
}

.widget-blog-homepage-feature .feature-article .title {
	padding-top: 90px;
	color: black;
	text-align: center;
	width: 100%;
}

.widget-blog-homepage-feature .feature-article .description {
	height: 120px;
	width: 60%;
	margin: 0 20%;
	text-align: center;
	display: table;
}

.widget-blog-homepage-feature .feature-article .description p {
	vertical-align: middle;
	display: table-cell;
}

.widget-blog-homepage-feature .feature-article button {
	margin: 0 auto;
	display: block;
}

.widget-blog-homepage-feature .feature-article a:hover button { 
	background: rgba(16,16,16, 0.1);
}

.widget-blog-homepage-feature .other-articles {
	height: 350px;
}

.widget-blog-homepage-feature .other-articles .title {
	height: 210px;
}

.widget-blog-homepage-feature .other-articles figure {
	float: left;
	width: 260px;
	min-height: 300px;
	padding: 20px;
	margin: -200px 7px 0 7px;
	border: 3px solid #FFFFFF;
	background: #FFFFFF;
}

.widget-blog-homepage-feature .other-articles figure p {
	margin: 15px 0;
	text-align: center;
    font-weight: 400;
}

.widget-blog-homepage-feature .other-articles figure .image {
	width: 260px;
	height: 260px;
	border-radius: 160px;
}



.widget-poll {
	border: 1px solid #DDDDDD;
	position: relative;
	margin: 0 auto 30px auto;
	padding: 20px 0;
	width: 500px;
}

.widget-poll h5 {
	font-size: 14px;
	color: black;
	position: absolute;
	width: 100%;
	top: -9px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 2px;
	z-index: 5;
}

.widget-poll .choices {
	float: right;
	text-align: right;
	width: 50%;
}

.widget-poll .choices .choice {
	margin-top: 5px;
}

.widget-poll .choices .choice label {
	font-weight: 400;
	text-transform: uppercase;
	display: inline-block;
	margin-right: 5px;
}

.widget-poll .choices .choice p.total {
	margin: 0 20px 0 0;
	font-size: 14px;
	display: inline-block;
}

.widget-poll .choices .choice a {
	cursor: pointer;
	margin-right: 20px;
	font-size: 14px;
}

.widget-poll .choices .choice a > i {
	cursor: pointer;
	margin-right: 20px;
	font-size: 20px;
}

.widget-poll .choices a:hover i:before {
	content: "\f111" !important;
}
	
.widget-poll .description {
	float: left;
	width: 50%;
}

.widget-poll .description > p {
	margin: 0;
	padding: 20px;
	text-align: center;
}

.widget-poll .description > p.message {
	font-size: 12px;
	font-weight: 400;
	padding: 0 20px;
	color: #999999;	
}

.widget-poll h5 > span {
	background: #FFFFFF;
	padding: 0 5px;
	line-height: 18px;
}


/*--- CSS FILTERS ---*/

.css-filter-grayscale img {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.css-filter-sepia img {
    filter: sepia(1);
    -webkit-filter: sepia(1);
}
