<div class="widget widget-latest-post">
	<a href="/blog/{{ post.slug }}" style="background:url('{{ getMediaImage(post.image).src }}') center center; background-size:cover;">
		<p>Blog:</p>
		<h2>{{ post.title }}<span>{{ post.excerpt }}</span></h2>
	</a>
</div>