<div class="tool">
	<a title="Column Span" >
        <i class="fa fa-arrows-h"></i>
    </a>
	<ul>
		<li><a class="column-span" data-id="{{ link.id }}">1</a></li>
		<li><a class="column-span" data-id="{{ link.id }}">2</a></li>
        <li><a class="column-span" data-id="{{ link.id }}">3</a></li>
        <li><a class="column-span" data-id="{{ link.id }}">4</a></li>
	</ul>
</div>