<div class="tool">
	<a title="Image Effects" >
        <i class="fa fa-magic"></i>
    </a>
	<ul>
		<li><a class="image-effect wide" data-value="none" data-id="{{ link.id }}">None</a></li>
        <li><a class="image-effect wide" data-value="grayscale" data-id="{{ link.id }}">Grayscale</a></li>
        <li><a class="image-effect wide" data-value="sepia" data-id="{{ link.id }}">Sepia</a></li>
        <li><a class="image-effect wide" data-value="cutout" data-id="{{ link.id }}">Cutout</a></li>
	</ul>
</div>