<div class="tool">
	<a title="Heading Style" >
        <i class="fa fa-header"></i>
    </a>
	<ul>
		<li><a class="heading-style" data-id="{{ link.id }}">h4</a></li>
		<li><a class="heading-style" data-id="{{ link.id }}">h6</a></li>
	</ul>
</div>