<div class="tool">
	<a title="Alignment" class="selected-alignment">
        <i class="fa fa-align-{{ section.alignment }}"></i>
    </a>
	<ul>
		<li><a class="alignment" data-id="{{ link.id }}" data-value="left"><i class="fa fa-align-left"></i></a></li>
		<li><a class="alignment" data-id="{{ link.id }}" data-value="center"><i class="fa fa-align-center"></i></a></li>
        <li><a class="alignment" data-id="{{ link.id }}" data-value="right"><i class="fa fa-align-right"></i></a></li>
	</ul>
</div>