<div class="feature-image">
	<img src="{{ image.src }}" {% if image.width > 738 %}width="738"{% else %}width="{{ image.width }}"{% endif %}/>
	<div class="button-holder">
		<div>
			<div>
				<a 
					class="btn btn-primary rest-get-popup" 
					href="{{ path('thread_blog_popup_set_feature_image', { id : post.id }) }}?existing={{ image.src|url_encode(true) }}"
				><i class="fa fa-picture-o"></i> Change Feature Image</a>
			</div>
		</div>
	</div>
</div>