{% extends '@ThreadAndMirrorCore/Layout/banner.html.twig' %}

{% block windowTitle %}Contact Us{% endblock %}
{% block metaKeywords %}{% endblock %}
{% block metaDescription %}Contact Us{% endblock %}

{% block title %}Contact Us{% endblock %}
{% block banner %}{{ '/media/image/page/typewriter.jpg'|imagine_filter('page_banner') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
            <p class="content__paragraph">General enquiries, feedback and suggestions:  <a href="mailto:info@threadandmirror.com">info@threadandmirror.com</a></p>
            <p class="content__paragraph">Press, stores, brands and potential contributors: <a href="mailto:info@threadandmirror.com">info@threadandmirror.com</a></p>
            <p class="content__paragraph">Technical enquiries: <a href="mailto:info@threadandmirror.com">info@threadandmirror.com</a></p>
        </div>
    </div>
{% endblock %}