<div class="social-circle-controls">
	<p class="social-circle-controls__intro">Style and beauty social media from across the web, in one place.</p>
	<div class="social-circle-controls__filters-wrapper social-circle-controls__filters-wrapper--sources">
		<h5 class="social-circle-controls__filters-title"><span class="social-circle-controls__filters-title-padding">Filter by Social Network</span></h5>
		<ul class="social-circle-controls__filters-list social-circle-controls__filters-list--sources container">
            {% for source in ['instagram', 'twitter'] %}
                <li class="social-circle-controls__filters-item social-circle-controls__filters-item--sources">
                    <a class="social-circle-controls__filters-item-link social-circle-controls__filters-item-link--sources" href="{{ path('thread_social_front_source', { source: source }) }}"><i class="fa fa-fw fa-{{ source }}"></i></a>
                </li>
            {% endfor %}
		</ul>
	</div>
	<div class="social-circle-controls__filters-wrapper social-circle-controls__filters-wrapper--categories">
		<h5 class="social-circle-controls__filters-title"><span class="social-circle-controls__filters-title-padding">Filter by Category</span></h5>
		<ul class="social-circle-controls__filters-list social-circle-controls__filters-list--categories container">
			{% for category,name in categories %}
                <li class="social-circle-controls__filters-item social-circle-controls__filters-item--categories col-xs-6 col-sm-4">
                    <a class="social-circle-controls__filters-item-link social-circle-controls__filters-item-link--categories" href="{{ path('thread_social_front_category', { category: category }) }}">{{ name }}</a>
                </li>
			{% endfor %}
		</ul>
	</div>
	<br class="clear">
</div>